<div class="container">

	<h2>Congratulations for applying to the Loyola dev bootcamp</h2>

	<div class="applied-textblock">
		<h3>What's next</h3>
		<p>Welcome to the Certificate program! We are looking forward to seeing you on June 5th, when we will kick off the 10 weeks. In preparation for June 5th, we would like to ask you to complete the following exercises under the pre work section, which will introduce you to programming via HTML and CSS. HTML is the base language of the web, and CSS is a way to add basic design elements to web pages. We will revisit HTML & CSS during the first few days of the program, but these exercises let you better dive into the content on Day One. </p>
	</div>

<button class="applied-textblock btn btnStyle">Make payment</button>

<div class="applied-container">
	<div class="applied-textblock">
	<h3>Pre-work</h3>
		<ol>
			<li>Go to www.codecademy.com.</li>
			<li>Register for a free account.</li>
			<li>Head to https://www.codecademy.com/learn/make-a-website.</li>
			<li>Complete the four free interactive lessons:</li>
				<ul>
					<li>LESSON 1: Site Structure</li>
					<li>LESSON 2: A Closer Look at CSS</li>
					<li>LESSON 3: Boundaries and Space</li>
					<li>LESSON 4: Building with Bootstrap</li>
				</ul>
			<li>After completing the lessons, choose a hobby that you think would make a good business one day.</li>
			<li>Build your own HTML-based landing page for that business.</li>
			<li>Send the link to your website to Kate McCrery at kymccrer@loyno.edu by May 1, 2017.</li>
		 </ol>
	</div>

</div>

