<ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Do I need to have prior tech or programming experience?

	</div>
      <div class="collapsible-body"><span>Nope! Loyola's new certificate program is designed to bridge the gap between your prior studies and an entry level job building things with technology.  We build your foundation from day 1.  
      <br><br>
		Know where your files live? How to get on the internet and share a GIF? Quick on the keyboard? You’re basically good to go! We start with coding basics and go from there. No previous experience or expertise required. We would recommend that you are familiar with your computer and operating system’s navigation however. Also, leading up to your program start date, take the pre-course work seriously to ensure you’re ready to hit the ground running!</span></div>
	</li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>How much does the program cost?

	  </div>
      <div class="collapsible-body"><span>Tuition for the program is $6,999.  This is roughly half the cost of most competing "commercial" bootcamp programs and a fraction of what you would pay for an equivalent number of contact hours for a traditional academic program.</span></div>
    </li>
    
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>When does the program start?</div>
      <div class="collapsible-body"><span>The initial cohort for the program starts on June 5th, 2017 and will run for 10 weeks finishing August 11th, 2017.  This gives you a couple weeks to basque in the glory post graduation and means that you are job ready by September..</span></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Can I finance the program?

</div>
      <div class="collapsible-body"><span>As of right now, we do not have financing options readily available.  We can work with you on a "lay away" plan if that is helpful.  This is something we are aware of and are working on.  Contact the Program Manager to discuss your specific situation and we will work with you as best we can!</span></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>What is a "certificate?"</div>
      <div class="collapsible-body"><span>The 10-week coding program operates under an "executive education model."  This is a way for universities to offer coursework in specific areas outside of traditional degree programs.  These are generally offered in focused content areas and generally for a specific audience.  Participants receive a "certificate" in lieu of a degree upon satisfactory completion of the program.  Check out these great certificate programs offered by Harvard.  You should definitely put it on your resume!</span></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>What about grades?</div>
      <div class="collapsible-body"><span>Certificate programs are traditionally pass/fail.  You may be graded on individual assignments, but our goal is that you master the skill, not to stress you out about your GPA.  The ultimate grade is your success in the workforce upon completion.  If you don't "pass," you may retake the course the following summer free of charge.
	</span></div>
    </li>

     <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Can I take this "for credit?"</div>
      <div class="collapsible-body"><span>This program is fundamentally different from a traditional "class."  It is designed as a self contained experience and does not fit neatly into the "class" box as such, it cannot be taken for traditional academic credit.  It can be used in certain circumstances as continuing education credit.  See Program Manager for details.</span></div>
    </li>

     <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Do I need to have a computer?</div>
      <div class="collapsible-body"><span>Yes, you do need a fully functioning, reliable computer! You will be creating applications that would best live on your own personal computer. There are also nightly homework assignments that you’ll need a computer to complete.
      <br><br>
I fully functional Mac or PC is recommended.  Tablets and "netbooks" are discouraged.  If your laptop is on the older side or has questionable functionality, please check with us and we’ll make sure you’re good to go!

</span></div>
    </li>

     <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>I want more Entrepreneurship!</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>

     <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Will you help me get a job?

</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>

     <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Do I need to have a computer?</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>

  <script type="text/javascript">
  	$(document).ready(function(){
    $('.collapsible').collapsible();
  });
  </script>