<div class="container">

<!-- <form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLScWfWLGOXGIQTwEXwKIO1zObHG9rhpzZtor1GDPqFJ1AAGjeg/formResponse">
   
      <label>Name</label>
      <input name="entry.69480479" type="text" />
      
      <label>Email</label>
      <input name="entry.1470345420" type="email" required />


      <input type="submit" value="Send" />

</form>
 -->


			<form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLScWfWLGOXGIQTwEXwKIO1zObHG9rhpzZtor1GDPqFJ1AAGjeg/formResponse" target="_self" method="POST">
	<div>Subscribe</div>
	<div>Please provide your name and email to subscribe to emails pertaining to Loyola's Software Development and Coding Program.</div>
	<div>* Required</div>
	<div class="input-field">
			<input type="text" aria-label="Name" name="entry.69480479" value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
			<label for="name-sub">Name (first & last) <span aria-hidden="true">*</span></label>
	</div>
	<div class="input-field">
			<input id="email-sub" type="email" aria-label="Email Address" name="entry.1470345420" value="" dir="auto" data-initial-dir="auto" data-initial-value="">
			<label for="email-sub">Email Address <span aria-hidden="true">*</span></label>
	</div>
	<div>
		<label class="input-field">How did you learn about this program?</label>
		<p><input type="radio" class="with-gap" name="entry.724160149" value="Loyola's website" id="radio1">
			<label for="radio1">Loyola's website</label></p>
		<p><input type="radio" class="with-gap" name="entry.724160149" value="Email" id="radio2">
			<label for="radio2">Email</label></p>
		<p><input type="radio" class="with-gap" name="entry.724160149" value="A friend" id="radio3">
			<label for="radio3">A friend</label></p>
		<p><input type="radio" class="with-gap inline" name="entry.724160149" value="Other" id="radio4">
			
				<label for="radio4">Other:
						
						<input class="other" id="radio4" type="text" name="entry.724160149" value="" dir="auto" data-initial-dir="auto" data-initial-value="">
						<!-- <label for="radio4">Other: -->
						<!-- <label for="radio4">How?</label> -->
				</label>
		
		</p>
		<br>
  </div>
		<div class="input-field">
			<input type="text" tabindex="0" aria-label="Why are you interested in the program?" name="entry.1132813127" value="" dir="auto" data-initial-dir="auto" data-initial-value="">
			<label for="interest-sub">Why are you interested in the program?</label>
		</div>
<input class="btn" type="submit" value="Send" data-target="_self"
onload="if(submitted)  {window.location='https://docs.google.com/forms/d/e/1FAIpQLScWfWLGOXGIQTwEXwKIO1zObHG9rhpzZtor1GDPqFJ1AAGjeg/formResponse/';}">

</form>
</div>



<div class="container">
	


</div>
