
<div class="parallax-container main-img">
  <div class="parallax"> 

  <div class="static col s12 m6">
  <h1 class="main-title col-s-12 col-md-6"><typer start-typing='true' words="['Loyno Software Development', 'Code Your Future', 'Feed Chris']" type-time='130' backspace-time='80' start-delay='1000'></typer></h1>



<!--   <p id="cta"><a class="btn btn-primary btn-lg center-bl responsive-width" href="#" role="button">Learn more</a></p> -->
  </div>
  <img class="banner-img" ng-src = "{{image}}"/>

  
  </div>
</div>


<!-- parallax containers -->
    
    <div class="container col-xs-12 container2">
        <h2 class="col-xs-12">&#60;boot up your career &#47;&#62;</h2> 
    </div>

    <div class="parallax-container p-container col-xs-6 container4">
        <div class="parallax">
            <img ng-src="{{ img1 }}">
        </div>
    </div>

    <div class="parallax-container col-xs-6 container5">
        <p>{{ text1 }}</p>
    </div>

    <div class="container col-xs-12 container6">
        <p class="col-xs-6">Robusta, skinny shop black kopi-luwak brewed trifecta medium. Chicory con panna viennese mocha, that affogato eu americano pumpkin spice caramelization single shot ristretto. Instant, at fair trade coffee, caramelization ristretto, caramelization con panna decaffeinated acerbic brewed cappuccino. Mug body, half and half, barista fair trade doppio sugar, mug coffee body wings grounds.</p>

        <p class="col-xs-6">Eu percolator, con panna cup café au lait caffeine robusta. Carajillo flavour, caffeine rich breve flavour cultivar cinnamon skinny. Frappuccino cinnamon, acerbic mocha beans grinder half and half breve. Café au lait, to go aromatic redeye, aroma, galão acerbic single shot and roast body.</p>
    </div>

    <div class="parallax-container col-xs-6 container7">
        <div class="parallax">
            <h2>{{ text3 }}</h2>
        </div>
    </div>

    <div class="parallax-container col-xs-6 container8">
        <div class="parallax">
            <img ng-src="{{ img2 }}">
        </div>
    </div>





<!-- INFO SECTIONS -->	
<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading main-heading">What is This Program?</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                      <!--   <i class="fa fa-4x fa-diamond text-primary sr-icons"></i> -->
                        <h3 class="info-heading">About</h3>
                        <p class="text-muted">Hodor, hodor... Hodor hodor hodor hodor hodor. Hodor. Hodor. Hodor hodor... Hodor hodor hodor, hodor. Hodor hodor. Hodor. Hodor! Hodor hodor, hodor, hodor. Hodor hodor... Hodor hodor hodor hodor! Hodor, hodor hodor hodor - hodor, hodor. Hodor hodor hodor! Hodor! Hodor hodor, hodor - hodor, hodor. Hodor hodor. Hodor. Hodor hodor... Hodor hodor hodor; hodor hodor... Hodor hodor hodor hodor!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                       <!--  <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i> -->
                        <h3 class="info-heading">What's the Curriculum?</h3>
                        <p class="text-muted">Hodor, hodor... Hodor hodor hodor hodor hodor. Hodor. Hodor. Hodor hodor... Hodor hodor hodor, hodor. Hodor hodor. Hodor. Hodor! Hodor hodor, hodor, hodor. Hodor hodor... Hodor hodor hodor hodor! Hodor, hodor hodor hodor - hodor, hodor. Hodor hodor hodor! Hodor! Hodor hodor, hodor - hodor, hodor. Hodor hodor. Hodor. Hodor hodor... Hodor hodor hodor; hodor hodor... Hodor hodor hodor hodor!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <!-- <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i> -->
                        <h3 class="info-heading">What's the Goal?</h3>
                        <p class="text-muted">Hodor, hodor... Hodor hodor hodor hodor hodor. Hodor. Hodor. Hodor hodor... Hodor hodor hodor, hodor. Hodor hodor. Hodor. Hodor! Hodor hodor, hodor, hodor. Hodor hodor... Hodor hodor hodor hodor! Hodor, hodor hodor hodor - hodor, hodor. Hodor hodor hodor! Hodor! Hodor hodor, hodor - hodor, hodor. Hodor hodor. Hodor. Hodor hodor... Hodor hodor hodor; hodor hodor... Hodor hodor hodor hodor!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <!-- <i class="fa fa-4x fa-heart text-primary sr-icons"></i> -->
                        <h3 class="info-heading">Where do I sign up?</h3>
                        <p class="text-muted">Hodor, hodor... Hodor hodor hodor hodor hodor. Hodor. Hodor. Hodor hodor... Hodor hodor hodor, hodor. Hodor hodor. Hodor. Hodor! Hodor hodor, hodor, hodor. Hodor hodor... Hodor hodor hodor hodor! Hodor, hodor hodor hodor - hodor, hodor. Hodor hodor hodor! Hodor! Hodor hodor, hodor - hodor, hodor. Hodor hodor. Hodor. Hodor hodor... Hodor hodor hodor; hodor hodor... Hodor hodor hodor hodor!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- TWITTER -->
<div class="col-lg-12 text-center">
	<h2 class="section-heading main-heading">Check Out Some Tech News!</h2>
	<hr class="primary">
</div>

<div class="twitter-container">
	<a class="twitter-timeline twitter" data-chrome="noheader" data-width="250" data-height="400" href="https://twitter.com/JasonNicosia/lists/nolatech">A Twitter List by JasonNicosia
	</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<a class="twitter-timeline twitter" data-chrome="noheader" data-width="250" data-height="400" href="https://twitter.com/Scobleizer/lists/most-influential-in-tech">A Twitter List by Scobleizer
	</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<a class="twitter-timeline twitter" data-chrome="noheader" data-width="250" data-height="400" href="https://twitter.com/latenitecoder/lists/developers">A Twitter List by latenitecoder
	</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>



<!-- CUSTOM PAGE SCRIPT -->
<script type="text/javascript">
    

    $(document).ready(function(){
            $('.parallax').parallax();
        });


</script>