
<div class="parallax-container main-img">
  <div class="parallax"> 
    <div class="static col s12 m6">
        <h1 class="main-title col-s-12 col-md-6"><typer start-typing='true' words="['Loyno Software Development', 'Code Your Future']" type-time='130' backspace-time='80' start-delay='1500'></typer></h1>
    </div>
    <img class="banner-img img-responsive" ng-src="{{ image }}"/>
  </div>
</div>


<!-- parallax containers -->
    
    <div class="container col-xs-12 container2">
        <h2 class="col-xs-12">{{ headerTitle }}</h2> 
    </div>

    <div class="parallax-container p-container col-sm-6 col-xs-12 container4">
        <div class="parallax">
            <img ng-src="{{ img1 }}">
        </div>
    </div>

    <div class="parallax-container col-sm-6 col-xs-12 container5">
        <p class="text1">{{ text1 }}</p>
    </div>

    <div class="container col-xs-12 container6">
        <p class="col-sm-6 col-xs-12">A line of code can do amazing things—it can protect people, connect them, inspire them, wow them. Right now, it can get you a job. Easily. From there, you can do anything. Technology is everywhere, and with technology, you can create anything you want</p>
        <p class="col-sm-6 col-xs-12">If you can write code, you can write your future. Take the first step in building the bridge between your graduation and your career today. Check out our application in the menu and take the leap into a creative future in technology.</p>
    </div>

    <div class="parallax-container col-sm-6 col-xs-12 container7">
        <div class="parallax">
            <h1>{{ text3 }}</h1>
        </div>
    </div>

    <div class="parallax-container p-container col-sm-6 col-xs-12 container8">
        <div class="parallax">
            <img ng-src="{{ img2 }}">
        </div>
    </div>





<!-- INFO SECTIONS -->	
<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading main-heading">What is This Program?</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="large material-icons">description</i>
                        <h3 class="info-heading">About</h3>
                        <p class="text-muted">This is where innovation starts.  

						In this ten-week “bootcamp,” you’ll earn more than a certificate that you can put on your resume. You will immerse yourself in a new discipline and build a foundation for a rewarding and multifaceted career in technology.   At Loyola, you will learn in-demand local skills from local practitioners.

						Through a mix of coursework and hands-on implementation, this course will help you develop your own personal portfolio of web projects.

						</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="large material-icons">class</i>
                        <h3 class="info-heading">What's the Curriculum?</h3>
                        <p class="text-muted">
                        	In this program, students will learn to build responsive websites from the ground up using HTML & CSS, as well as making them interactive with Javascript. Other topics include classes on various frameworks such as BootStrap and AngularJs. Students will also gain a deep understanding of backend technologies and databases. By the end of the program, students will be able to build a fully functioning web application that they can show off to future employers, as well as other smaller projects to fill out their portfolio.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="large material-icons">school</i>
                        <h3 class="info-heading">What's the Goal?</h3>
                        <p class="text-muted">The ultimate goal of this program is to teach recent graduates the fundamental skills that they will need in order to get a job in the tech industry. This program serves as a stepping stone for those that want to find a job in this industry in New Orleans by immersing them in all things related to the industry, as well as taking them to several prominent tech companies in the city through weekly job site visits. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="large material-icons">done</i>
                        <h3 class="info-heading">Where do I sign up?</h3>
                        <p class="text-muted">If you are interested in applying for the program, consider subscribing to our mailing list above to stay up to date on all things regarding the program. If you are ready to dive right in, click on the apply to program link above to sign up today!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- TWITTER -->
<div class="col-lg-12 text-center">
	<h2 class="section-heading main-heading">Check Out Some Tech News!</h2>
	<hr class="primary">
</div>

<div class="twitter-container">
	<a class="twitter-timeline twitter" data-chrome="noheader nofooter" data-width="250" data-height="400" href="https://twitter.com/JasonNicosia/lists/nolatech">A Twitter List by JasonNicosia
	</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<a class="twitter-timeline twitter" data-chrome="noheader nofooter" data-width="250" data-height="400" href="https://twitter.com/Scobleizer/lists/most-influential-in-tech">A Twitter List by Scobleizer
	</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<a class="twitter-timeline twitter" data-chrome="noheader nofooter" data-width="250" data-height="400" href="https://twitter.com/latenitecoder/lists/developers">A Twitter List by latenitecoder
	</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>



<!-- CUSTOM PAGE SCRIPT -->
<script type="text/javascript">
    

    $(document).ready(function(){
            $('.parallax').parallax();
        });


</script>