
<div class="parallax-container main-img">
  <div class="parallax"> 

  <div class="static col s12 m6">
  <h1 class="main-title col-s-12 col-md-6"><typer start-typing='true' words="['Loyno Software Development', 'Code Your Future']" type-time='130' backspace-time='80' start-delay='1500'></typer></h1>



<!--   <p id="cta"><a class="btn btn-primary btn-lg center-bl responsive-width" href="#" role="button">Learn more</a></p> -->
  </div>
  <img class="banner-img" ng-src = "{{image}}"/>

  
  </div>
</div>


<!-- parallax containers -->
    
    <div class="container col-xs-12 container2">
        <h2 class="col-xs-12">{{ headerTitle }}</h2> 
    </div>

    <div class="parallax-container p-container col-sm-6 col-xs-12 container4">
        <div class="parallax">
            <img ng-src="{{ img1 }}">
        </div>
    </div>

    <div class="parallax-container col-sm-6 col-xs-12 container5">
        <p class="text1">{{ text1 }}</p>
    </div>

    <div class="container col-xs-12 container6">
        <p class="col-sm-6 col-xs-12">A line of code can do amazing things—it can protect people, connect them, inspire them, wow them. Right now, it can get you a job. Easily. From there, you can do anything. Technology is everywhere, and with technology, you can literally create anything you want</p>
        <p class="col-sm-6 col-xs-12">If you can write code, you can write your future. Take the first step in building the bridge between your graduation and your career today. Check out our application in the menu and take the leap into a creative future in technology.</p>
    </div>

    <div class="parallax-container col-sm-6 col-xs-12 container7">
        <div class="parallax">
            <h1>{{ text3 }}</h1>
        </div>
    </div>

    <div class="parallax-container p-container col-sm-6 col-xs-12 container8">
        <div class="parallax">
            <img ng-src="{{ img2 }}">
        </div>
    </div>





<!-- INFO SECTIONS -->	
<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading main-heading">What is This Program?</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="large material-icons">description</i>
                        <h3 class="info-heading">About</h3>
                        <p class="text-muted">This is where innovation starts.  

						In this ten-week “bootcamp,” you’ll earn more than a certificate that you can put on your resume. You will immerse yourself in a new discipline and build a foundation for a rewarding and multifaceted career in technology.   At Loyola, you will learn in-demand local skills from local practitioners.

						Through a mix of coursework and hands-on implementation, this course will help you develop your own personal portfolio of web projects.

						</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="large material-icons">class</i>
                        <h3 class="info-heading">What's the Curriculum?</h3>
                        <p class="text-muted">
                        	In this program, students will learn to build responsive webpages using HTML and CSS, as well as how to utilize frameworks such as Bootstrap to make this process easier and more efficient. Students will also learn how to construct frameworks using Javascript to bring their projects to life and make them more interactive. We will also take a look at various other subjects such as integrating third-party API's such as Google Maps and Twitter. Students will also develop an understanding of databases and how to build API's for themselves. By the end of this program, students will be able to build a fully functional web application with a professional looking frontend and a fully working backend.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="large material-icons">school</i>
                        <h3 class="info-heading">What's the Goal?</h3>
                        <p class="text-muted">The ultimate goal of this program is to teach recent graduates the fundamental skills that they will need in order to get a job in the tech industry. This program serves as a stepping stone for those that want to find a job in this industry in New Orleans by immersing them in all things related to the industry, as well as taking them to several prominent tech companies in the city through weekly job site visits. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="large material-icons">done</i>
                        <h3 class="info-heading">Where do I sign up?</h3>
                        <p class="text-muted">The program is scheduled to start June 5th, 2017 and will conclude August 11th, 2017.  The program follows a "full time" 9:00 am to 5:00 pm Monday - Friday with some additional project work taking place after hours.  The class is about half lecture and half hands-on time building your own portfolio of software applications.

						The cost of the program is $6,999.  A $1,000 deposit is due at enrollment to hold the student's spot.  The balance of the tuition payment is due June 1st, 2017.  Individual payment plans can be set up with the Program Manager under a "lay away"  plan as long as tuition is paid in full by June 30th, 2017 and 2/3 of tuition due is paid by June 1st, 2017.  Please contact the program manager for details. To sign up now, checkout the application in our menu!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- TWITTER -->
<div class="col-lg-12 text-center">
	<h2 class="section-heading main-heading">Check Out Some Tech News!</h2>
	<hr class="primary">
</div>

<div class="twitter-container">
	<a class="twitter-timeline twitter" data-chrome="noheader nofooter" data-width="250" data-height="400" href="https://twitter.com/JasonNicosia/lists/nolatech">A Twitter List by JasonNicosia
	</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<a class="twitter-timeline twitter" data-chrome="noheader nofooter" data-width="250" data-height="400" href="https://twitter.com/Scobleizer/lists/most-influential-in-tech">A Twitter List by Scobleizer
	</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<a class="twitter-timeline twitter" data-chrome="noheader nofooter" data-width="250" data-height="400" href="https://twitter.com/latenitecoder/lists/developers">A Twitter List by latenitecoder
	</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>



<!-- CUSTOM PAGE SCRIPT -->
<script type="text/javascript">
    

    $(document).ready(function(){
            $('.parallax').parallax();
        });


</script>