
<!-- PARALLAX -->
<div class="container col-xs-12 container2">
	<h2 class="col-xs-12">&#60;boot up your career &#47;&#62;</h2>
</div>

<div class="parallax-container p-container col-xs-6 container4">
	<div class="parallax">
		<img ng-src="{{ img1 }}">
	</div>
</div>

<div class="parallax-container col-xs-6 container5">
	<p>{{ text1 }}</p>
</div>

<div class="container col-xs-12 container6">
	<p class="col-xs-6">Robusta, skinny shop black kopi-luwak brewed trifecta medium. Chicory con panna viennese mocha, that affogato eu americano pumpkin spice caramelization single shot ristretto. Instant, at fair trade coffee, caramelization ristretto, caramelization con panna decaffeinated acerbic brewed cappuccino. Mug body, half and half, barista fair trade doppio sugar, mug coffee body wings grounds.</p>

	<p class="col-xs-6">Eu percolator, con panna cup café au lait caffeine robusta. Carajillo flavour, caffeine rich breve flavour cultivar cinnamon skinny. Frappuccino cinnamon, acerbic mocha beans grinder half and half breve. Café au lait, to go aromatic redeye, aroma, galão acerbic single shot and roast body.</p>
</div>

<div class="parallax-container col-xs-6 container7">
	<div class="parallax">
		<h2>{{ text3 }}</h2>
	</div>
</div>

<div class="parallax-container col-xs-6 container8">
	<div class="parallax">
		<img ng-src="{{ img2 }}">
	</div>
</div>


<!-- CUSTOM PAGE SCRIPT -->
<script type="text/javascript">
	

	$(document).ready(function(){
			$('.parallax').parallax();
		});


</script>