body { 
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	line-height: 1.5;
	font-size: 14px;
	color: #373a3c;
	background-color: #fff;
}

@font-face {
    font-family: 'Faith_One';
    src: url(../fonts/Faith_And_Glory_One.otf);
}



/* CONTAINERS + PARALLAX CONTAINERS */

.container{
	width: 100% !important;
	margin-left: 0px;
	margin-right: 0px;
	max-width: none !important;
}

.container2{
	background-color: #E5554F;
	height: 200px;
}

.container2 p{
	padding:50px;
	font-size: 20px;
}


.container5 {
	padding: 60px;
}

.container5 p{
	font-size: 24px;
	line-height: 40px;
}

.container6{
	/*height: 300px;*/
	background-color: #E5554F;
	padding: 50px;
}

.container6 p{
	font-size: 20px;
}

.container7 h1{
	padding: 40px;
	padding-top: 60px;
	text-align: center;
	font-family: Faith_One;
}

.p-container{
	max-width: none;
	padding-right: 0px !important;
	padding-left: 0px !important;
	width:50%;
}

.main-img{
	width: 100%;
	
}


/* HEADING */

.top-nav {
		background-color: #620003;
		color: #fff;
		width: 100%;
		padding: 54px 0;
		float: left;
		display: block;
		height: 120px !important;
}

.headerLogo img{
	width: 600px;
	margin-top:-50px;
}


.main-heading{
	font-size: 30px;
}

.info-heading{
	font-size: 25px;
}



.links{
	color: #FFD700;
}

/*.twitter{
	text-align: center;
	padding-left: 100px;
}*/

.banner-img{
	height: auto;
	width: 100%;
}

/*.static{
	position: relative;
}*/


.main-title{
	align-content: center;
	z-index: 1000;
	position: relative;
	top: 100px;
	left: 400px;
	color: #fff;
	font-weight: 150;

}

/*#cta{
	text-align: center;
	z-index: 1000;
	position: absolute;
	top: 250px;
	left: 525px;
}*/

/*@media screen and (max-width: 450px;){
	.static{
		position: static;
	
	}
}*/

.fullwidth {
	width: 100%;
}




/* FOOTER */

#footer {
		background-color: #620003;
		color: #fff;
		width: 100%;
		padding: 54px 0;
		float: left;
		display: block;
}

@media screen and (max-width: 1200px)
footer {
		padding: 27px 0;
}

@media screen and (max-width: 1200px) {
	footer {
		padding: 27px 0;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1200px) {
	footer img {
		max-width: 35%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 1200px) {
	footer img {
		display: block;
		text-align: left;
	}
}

footer .footer-copy {
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: 'Proxima N W01 Light';
	font-size: 14px;
	text-align: left;
	margin: 0;
}
@media screen and (min-width: 1200px) {
	footer .footer-copy {
		font-size: 1em;
		padding: 0;
		text-align: left;
	}
}

footer .footer-copy p {
	margin-bottom: 0;
}

footer .container-fluid {
	display: flex;
	flex-direction: column;
}
@media screen and (min-width: 768px) {
	footer .container-fluid {
		flex-direction: row;
	}
}

@media screen and (min-width: 1024px) {
	.footerLogos {
		padding: 0;
	}
}

footer a {
	color: #fff;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 600;
}

footer a:hover {
	color: #fad800;
}

footer a.emergency_info {
	color: #fad800;
}

footer a img {
	text-decoration: none;
	border: none;
	max-width: 200px;
	display: block;
}
@media screen and (min-width: 960px) {
	footer a img {
		max-width: 225px;
		margin-left: auto;
		margin-right: auto;
	}
}

footer a img:hover {
	text-decoration: none;
}

footer a img.loynoLogo {
	max-width: 175px;
	margin: 0;
}


.icon-logo-2	{
	background-image: url(/img/logos/loyola_logo_2.png);
  max-width: 144px;
  background-size: 100%;
  margin-left: 5px;
}

.icon{
  background-size: cover;
  display: inline-block;
  background-repeat: no-repeat;
}

@media (min-width: 768px){
#footer .icon-logo-2 {
  float: left;
  margin-top: 15px;
  margin-right: 10px;}
}

@media screen and (min-width: 992px){
#footer .icon-logo-2 {
    width: 179px;
    height: 83px;
    max-width: 100%;}
}

.icon-logo-2 {
    width: 300px;
    height: 76px;
    margin-bottom: 5px;
}

@media screen and (min-width:992px){
	.icon-logo-2{
		max-width:200px;}
}

/* FORMS */
.btn-space {
	margin-bottom: 20px;
}

/* SIDE NAV */
.nav-btn{
	float: right;

}

.side-nav{
	width:570px;
	
}

.applied-textblock{
	margin-top: 50px
}


.freebirdHeaderMast {
    background: none;
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 660px){
.freebirdFormviewerViewFormBanner {
    height: 122px;}
}

.freebirdFormviewerViewFormBanner {
    height: 278px;
}

.navbar-fixed-top{
	background: rgba(255, 255, 255, 0.0);
	border-bottom: none;
}
.navbar.navbar-default {
   
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

}


.navbar.navbar-default .navbar-collapse li{
	float: right;

	}

.navbar.navbar-default .navbar-collapse ul{
	float: right;

	}

/* MEDIA QUERIES */

@media (min-width:951px) { 
	.container5 p{
		font-size: 20px;
		line-height: 170%;
	}
	.container6 p{
		font-size: 20px;
	}
}

@media (min-width: 1px) and (max-width: 950px){
	.headerLogo img {
		margin-top: -20px;
	}
	.top-nav{
		height: 150px !important;
	}
}

@media (min-width:901px) and (max-width: 950px){ 
	.container5 p{
		font-size: 20px;
		line-height: 150%;
	}
	.container6 p{
		font-size: 20px;
	}
}

@media (min-width:830px) and (max-width: 900px) { 
	.container5 p{
		font-size: 15px;
		line-height: 250%;
	} 
	.container6 p{
		font-size: 15px;
	}
	.container7 h1{
		font-size: 55px;
	} 
}

@media (min-width:725px) and (max-width: 829px) { 
	.container5 p{
		font-size: 15px;
		line-height: 200%;
	}
	.container6 p{
		font-size: 15px;
	} 
	.container7 h1{
		font-size: 50px;
	}  
}

@media (min-width:645px) and (max-width: 724px) { 
	.container5 p{
		font-size: 13px;
		line-height: 200%;
	}
	.container6 p{
		font-size: 13px;
	}
	.container7 h1{
		font-size: 48px;
	}   
}

@media (min-width: 600px) and (max-width: 644px) { 
	.container5 p{
		font-size: 13px;
		line-height: 180%;
	} 
	.container6 p{
		font-size: 13px;
	}
	.container7 h1{
		font-size: 45px;
	}  
}

@media (min-width: 531px) and (max-width: 599px) { 
	.container5 p{
		font-size: 11px;
		line-height: 200%;
	} 
	.container6 p{
		font-size: 11px;
	} 
	.container7 h2{
		font-size: 40px;
	}
	.container7 h1{
		font-size: 40px;
	}  
}

@media (min-width: 450px) and (max-width: 530px) { 
	.container5 p{
		font-size: 10px;
		line-height: 170%;
	} 
	.container6 p{
		font-size: 9px;
	} 
	.container7 h1{
		font-size: 35px;
	}  
}

@media (min-width: 1px) and (max-width: 449px) { 
	.container5 p{
		font-size: 9px;
		line-height: 150%;
	}
	.container6 p{
		font-size: 9px;
	}
	.container7 h1{
		font-size: 35px;
	}
}




